@import '../styles/core/core.scss';

html {
  height: 100vh;
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Montserrat', Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #444434;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
